#include <module2/ModuleResource2.h>

IDR_MODULE2_DIALOG DIALOGEX 200, 200, 250, 100
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Module 1"
FONT 9, "Segoe UI"
BEGIN
	LTEXT    "", -1,				 10, 15, 40, 10
	EDITTEXT IDD_MODULE2_TEXT_INPUT, 20, 12, 150, 14, ES_AUTOHSCROLL

	DEFPUSHBUTTON "OK",     IDOK,	  140, 80, 50, 15
	PUSHBUTTON    "Cancel", IDCANCEL, 190, 80, 50, 15
END