#include <ModuleResource1.h>

IDR_MODULE1_DIALOG DIALOGEX 200, 200, 250, 100
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Module 1"
FONT 9, "Segoe UI"
BEGIN
	LISTBOX IDD_MODULE1_LISTBOX, 10, 10, 150, 65,
	WS_VISIBLE | WS_BORDER | WS_VSCROLL | LBS_NOTIFY

	DEFPUSHBUTTON "OK",     IDOK,     140, 80, 50, 15
	PUSHBUTTON    "Cancel", IDCANCEL, 190, 80, 50, 15
END